body {
	background-image: url(LLANTA.JPG);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
	font-family: "Times New Roman";
}

img{
	width: 400px;
	height: 150px;

}
.ingreso{padding-top: 2000px }
form {
	width:40%;
	height: 50%;
	background: rgba(255, 255, 255, 0.37);
	border-radius:10%;
}
.btn btn-primary {
	background-color:transparent;
	color:#000000;
	font-family:roboto,arial,sans-serif;
	font-size:180%;
	border-bottom-width: 2px;
	border-bottom-color: #ffffff;
	border-left: none;
	border-right: none;
	border-top:none;}
.boton2 {
	font-size:140%;
	text-decoration:none;
	margin:10px 20px;
	display:inline-block;
	background:#ffffff;
	color:#000000;
	padding:10px 20px;
}
::placeholder { color: silver; }
.division
{
			margin-left: 150px;
			margin-top: 170px;


}
