body { 
  background-image: url(LLANTA.JPG);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  text-align: center;
  font-family: "Times New Roman";
}

img{ 
  width: 400px;
  height: 150px;


}

.img-rounded
{
  width: 30px;
  height: 30px;
}


div{padding-top: 5px }
form {
  width:30%;
  background: rgba(255, 255, 255, 0.37);
  border-radius:10%;
}
.boton {
  background-color:transparent;
  color:#000000;
  font-family:roboto,arial,sans-serif;
  font-size:180%;
  border-bottom-width: 2px;
  border-bottom-color: #ffffff;
  border-left: none;
  border-right: none;
  border-top:none;}
.boton2 {
  font-size:140%;
  text-decoration:none;
  margin:10px 20px;
  display:inline-block;
  background:#ffffff;
  color:#000000;
  padding:10px 20px;
}
::placeholder { color: silver; }  
.menu {
   padding:10px 20px;
  }
      
     