@font-face{
    font-family: 'Dancing';
    src: url(fuentes/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}

body{
    background: linear-gradient(to right, rgb(99, 216, 208), rgb(9, 161, 151));
}

.bg{
    background-image: url(../img/depositphotos_39949813-stock-illustration-set-of-sport-icons-in.jpg);
    background-position: center;
}

input#btnn{

    font-family: 'Dancing';
    background: linear-gradient(rgb(99, 216, 208), rgb(9, 161, 151));
    color: #f4f4f4;
    font-size: 20px;

}

a#btnn{

    color: rgb(9, 161, 151);
    font-family: 'Dancing';
    font-size: 17px;

}

