@font-face{
    font-family: 'Dancing';
    src: url(fuentes/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}
.navbar{

        background: linear-gradient(to right, rgb(99, 216, 208), rgb(9, 161, 151));
        font-family: 'Dancing';
        
}

.scroll{
    width:100%;
  }

  .scroll .jscroll-loading {
    width:10%;
    margin: -500px auto;

  }