@font-face{
    font-family: 'Dancing';
    src: url(fuentes/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}

#title{
    font-family: 'Dancing';
}

button#btnn{
    text-decoration: none;
    background: #F4f4f4;
    color: rgb(9, 161, 151);
  
  }

nav#enca{
    font-family: 'Dancing';
    background: linear-gradient(to right, rgb(99, 216, 208), rgb(9, 161, 151));
    color: #f4f4f4;
}

body{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
}

.title{
    text-align: center;
    font-size: 40px;
    color: aquamarine;
    margin-top: 100px;
    font-weight: 100;

}

.container{
    padding-top: 50px;
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    
}

.container .card{

    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background: linear-gradient( rgb(99, 216, 208), rgb(9, 161, 151));
    
    
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    color: black;
}

.container .card img{
    width: 330px;
    height: 220px;
}

.container .card h3{
    margin-top: 20px;
    font-weight: 600;
    color: #F4f4f4;
    font-family: 'Dancing';

}

.container .card p{
    padding: 0 1rem;
    font-size: 20px;
    font-family: 'Dancing';
    color: #F4f4f4;
    font-weight: 600;
}

.container a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}