@font-face{
    font-family: 'Dancing';
    src: url(fuentes/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}

#title{
    font-family: 'Dancing';
}

nav#enca{
    background: linear-gradient(to right, rgb(99, 216, 208), rgb(9, 161, 151));
    color: #f4f4f4;
}

div#enca{
    font-family: 'Dancing';
    background: linear-gradient(to right, rgb(99, 216, 208), rgb(9, 161, 151));
    color: #f4f4f4;
}

input#btnn{

    font-family: 'Dancing';
    background: linear-gradient( rgb(99, 216, 208), rgb(9, 161, 151));
    color: #f4f4f4;

}

button#btnn{

    font-family: 'Dancing';
    background: linear-gradient( rgb(99, 216, 208), rgb(9, 161, 151));
    color: #f4f4f4;

}

body{
    font-family:'Courier New', Courier, monospace;
}

